:root{
    --text-white: white;
    --text-black: black;
}

body{
    color: var(--text-black);
    margin: 0;
}

.header{height: 100px;width: 100%;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;}

.header-title{
position: absolute;
top: 20px; 
right: 20px;  
margin: 0;
}

.header > a{
    font-size: 1.4em;
    margin: 15px;
}

.header > a:hover{
    text-decoration: underline;
}

.footer{
    margin-top: 100px;
    width: 100%;
}

.footer-content{
    display: flex;
    margin-left: 20px;
    height: 120px;
    align-items: center;
}