:root{
    --text-white: white;
    --text-black: black;

    --background-color: white;
    --foreground-color: whitesmoke;
}

body{
    color: var(--text-black);
    margin: 0;
    background-color: #f6f7f4;
}

.header{height: 100px;width: 100%;display: flex;align-items: center;flex-direction: row-reverse;}

.header-title{cursor: pointer;margin-right: 30px;white-space: nowrap;position: absolute;display: inline!important;}

.header-links{
    visibility: hidden;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-left: 64px;
    flex-wrap: wrap;
}

.header-links > a{font-size: 1.4em;margin: 15px;margin-top: 5px;margin-bottom: 0;}

.header-links > a:hover{
    text-decoration: underline;
}


.footer{
    margin-top: 100px;
    width: 100%;
    justify-content: space-between;
}

.footer-content{
    display: flex;
    margin-left: 20px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
}

.pm-item-container{
    
font-weight: bold;
    
width: 110px;
    
display: flex;
    
justify-content: space-evenly;
    
color: var(--text-black);
    
text-align: center;
    
line-height: 180%;
}

.pm-item{

width: 25px;

background-color: white;

user-select: none;

cursor: pointer;

height: 25px;
}

.num-item{

width: 35px;

height: 25px;

background-color: white;
}

.header-tab{
    visibility: visible;
    object-fit: contain;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 20px;
}

@media only screen and (min-width: 800px){
    .header-links{
        visibility: visible!important;
        margin-right: max(calc(1050px - 100%), 25px);
    }
    
    .header-tab{
        visibility: hidden!important;
    }
}