body{
    margin: 0;
    cursor: pointer;
}
#con{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    height: 14vh;
    min-height: min(180px, 35vh);
}
#centered{
    z-index: 1;
    width: 80vh;
    height: 100vh;
    position: relative;
}

#graphics{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#angleA{
    z-index: 0;
    position: absolute;
    top: 20vh;
    left: 20vh;
}
#angleB{
    z-index: -1;
    position: absolute;
}

#cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000057;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 2;
    pointer-events: none;
}
#cover > div{
    background-image: url("../common/pointer.png");
    width: 20vw;
    height: 20vw;
    background-size: contain;
    margin: 5vw;
    background-repeat: no-repeat;
}

.reset{
    width: 100px;
    height: 100px;
    max-width: 20vw;
    max-height: 20vw;
    position: absolute;
    right: 5vw;
    bottom: 5vw;
    cursor: pointer;
    background-image: url("../common/reset.png");
    background-position-y: center;
    background-size: cover;
    z-index: 1;
}