.con{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.states{
    display: flex;
    left: 0;
    top: 0;
    align-items: center;
    width: 100vw;
    height: 40vh;
    max-width: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 0;
}

.state{display: flex;justify-content: center;width: 50%;}

img{margin: 1vmin;width: 18vmin;height: 18vmin;object-fit: contain;}

.small{
    width: 13vmin;
    height: 13vmin;
    margin: 2.5vmin;
}

h1{
    font-size: min(2em, 6vw)!important;
    width: calc(50% - 15vmin);
}


#chart{
    display: flex;
    max-height: 60vh;
    align-items: center;
    z-index: -1;
}
