body{
    font-family: 'Helvetica';
}

p{margin: 5px;}
h1{margin: 5px;}
h2{margin: 5px;}
h3{margin: 5px;}
h4{
    margin: 5px;
}
h5{margin: 5px;}
ul{margin:0}

.text-center{
    display: flex;
    align-items: center;
}

.align-center{
    text-align: center;
}

.text-indented{
    text-indent: 10px;
}
.h_br{
    height: 5px;
}

@media only screen and (max-width: 600px) {
    body{font-size: 0.75em;}
    h1{font-size: 1.5em;}
    h2{font-size: 1.125em;}
    h3{font-size: 1.5em;}
    h4{font-size: 1em;}
    h5{font-size: 0.62em;}
  }